<section class="director-index">
  <h1 class="all-directors">All Directors</h1>

  <% @directors.each do |director| %>
  <ul>
    <li class="director-show-link">More information about: <%= link_to director.name, director_path(director) %></li>
  </ul>
  <% end %>
</section>
