<section class="director-show">
  <h2 class="each-director">Information about: <%= @director.name %></h2>

  <%= button_to "Movies by #{@director.name}", director_movies_path(@director), method: :get, class: 'director-index-button' %>
</section>
