 <section class="welcome-index">
   <h1 class="welcome">Welcome to Ilana Corson's Sass Workshop!</h1>
   <p class="all-directors-link">Navigate to <%= link_to "All Directors", directors_path %><p>
 </section>
